{% extends "base.html" %}
{% block content %}
  <div class="top">
    <div>
      <h2>Part A — Basic Computing (Do any 4)</h2>
      <div class="muted">Time: ~30 mins | Paste answers + code below.</div>
    </div>
    <a class="btn secondary" href="/test">Back</a>
  </div>

  <pre>
A1) has_duplicate(arr) in O(n) + complexity
A2) two_sum(nums, target) in O(n)
A3) valid_parentheses(s)
A4) seconds_to_hhmmss(sec)
A5) parse_log_line(line) -> dict (eta as float)
  </pre>

  <form method="post" action="/submit/a">
    <div class="muted" id="saveStatus"></div>
    <textarea id="answerBox" name="content" placeholder="Write your answers + code here..."></textarea>
    <br/><br/>
    <button class="btn" type="submit">Submit Part A</button>
  </form>

  <script>setupAutosave("eulerq_test_part_a");</script>
{% endblock %}
